<html>
    <head> 
        <title> stocks </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui container">
            <h1>Stock List</h1>

            <!-- Filter Dropdown -->
            <form method="get" action="/">
                <div class="ui action input">
                    <select name="filter" class="ui dropdown">
                        <option value="">All Stocks</option>
                        <option value="new_closing_highs">New Closing Highs</option>
                    </select>
                    <button class="ui button" type="submit">Filter</button>
                </div>
            </form>
            <br>
            {% if message %}
                <div class="ui warning message">
                    <div class="header">{{ message }}</div>
                </div>
            {% endif %}
        
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </body>
</html>
